        <ul id="mainnav">
            <li>
                <a href="/code/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-terminal"></i></span>
                <span> Code </span>
            </a>
            </li>
            <li>
                <a href="/golang/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-desktop"></i></span>
                <span> Golang </span>
            </a>
            </li>
            <li>
            <a href="/ml/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-cogs"></i></span>
                <span> ML </span>
            </a>
            </li>
            <li>
            <a href="/nlp/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-pencil-square"></i></span>
                <span> NLP </span>
            </a>
            </li>
            <li>
            <a href="/agility/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-wrench"></i></span>
                <span> Agility </span>
            </a>
            </li>
            <li>
            <a href="http://github.com/SebastienBoisard">
                <span class="icon"> <i aria-hidden="true" class="fa fa-github"></i></span>
                <span> GitHub </span>
            </a>
            </li>
            <li>
            <a href="/about">
                <span class="icon"> <i aria-hidden="true" class="fa fa-info-circle"></i></span>
                <span> me </span>
            </a>
            </li>
        </ul>
