        <ul id="mainnav">
            <li>
                <a href="/golang/">
                <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
                <span> Golang </span>
            </a>
            </li>
            <li>
            <a href="/ml/">
                <span class="icon"> <i aria-hidden="true" class="icon-atom"></i></span>
                <span> ML </span>
            </a>
            </li>
            <li>
            <a href="/nlp/">
                <span class="icon"> <i aria-hidden="true" class="icon-edit"></i></span>
                <span> NLP </span>
            </a>
            </li>
            <li>
            <a href="/agility/">
                <span class="icon"> <i aria-hidden="true" class="icon-stack"></i></span>
                <span> Agility </span>
            </a>
            </li>
            <li>
            <a href="http://github.com/SebastienBoisard">
                <span class="icon"> <i aria-hidden="true" class="icon-github"></i></span>
                <span> GitHub </span>
            </a>
            </li>
            <li>
            <a href="/about">
                <span class="icon"> <i aria-hidden="true" class="icon-info"></i></span>
                <span> me </span>
            </a>
            </li>
        </ul>
