<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    {{ partial "meta.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    {{ partial "head_includes.html" . }}
</head>
<body lang="en">

{{ partial "subheader.html" . }}

<section id="main">
   <div>
   <br/>
   <p><b>Cognitio</b> (/koɡˈni.ti.oː/) means <b>'knowledge'</b> and also <b>'learning, study'</b>.</p>
   <p>So this site is my humble attempt to represent my knowledge about <b>coding</b>, especially in <b>Go</b>, <b>Natural Language Processing</b> through <b>Machine Learning</b>, and all the paradigms, and the <b>agility</b> required to change them, of a classical company.</p>

      {{ range $section, $taxonomy := .Site.Sections }}
         {{ if (gt (len $section) 0) }}
            {{ range $taxonomy.Pages }} 
               {{ .Render "summary"}}
            {{ end }}
         {{ end }}
      {{ end }}
   </div>


</section>

<aside id="meta"> </aside>

{{ partial "footer.html" . }}
